header{
	height: 30%;
	width: 70%;
	min-width: 20%;
	margin: 0 auto;
}

p{
	font-family: Arial, Georgia;
	font-size: 120%;
}

#welcome{
	text-align: right;
}

#mainTableDiv{
	height: 80%;
	width: 70%;
	margin: 0 auto;
}

.rows{
	width: 100%;
	height: 30%;
}

img{
	height: 160px;
	width: 130px;
	padding: 5px 42px 0px 42px;
}

footer{
	bottom: 0px;
	width: 70%;
	height: 10%;
	margin: 10% auto 0%;
	border-top: solid gray;
	text-align: center;
}

#footerText{
	font-size: 14px;
	font-family: sans-serif;
}

ol{
	list-style-type: none;
	font-family: sans-serif;

}